@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");

.wrap_form {
  transform: translate(-50%, -50%);
  animation: appear 0.5s ease forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error {
  background: linear-gradient(45deg, #ccc, red);
  padding: 1rem;
  font-weight: bolder;
  color: white;
  position: absolute;
  top: 30px;
  right: -130%;
  transition: right 0.5s ease;
  border-radius: 30px;
}

.error.muncul {
  right: -90%;
}

.qJTHM {
  margin: 0;
}
#container {
  padding: 0;
}
.haAclf {
  display: flex;
  padding: 0;
}
.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
  width: 100%;
}
iframe#gsi_494797_297261 {
  width: 100%;
  margin: 0;
}
