@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");

.wrap_form_Res {
  transform: translate(-50%, -50%);
  animation: appear 0.5s ease forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error {
  background: linear-gradient(45deg, #ccc, red);
  padding: 1rem;
  font-weight: bolder;
  color: white;
  position: absolute;
  top: 30px;
  right: -130%;
  transition: right 0.5s ease;
  border-radius: 30px;
}

.error.muncul {
  right: -90%;
}
