@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");

.Search_wrap {
  width: 100%;
  padding-top: 5rem;
}

.Search_wrap h1 {
  font-family: "Cabin", sans-serif;
  padding: 0 2rem 3rem 3rem;
  text-shadow: 1px 2px 10px rgb(192, 162, 162);
}

.search_item_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin: 0;
}
