@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.detail_wrap {
  width: 100%;
  height: 100vh;
}
.background_Detail {
  height: 100%;
}
.detail_item {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.detail_item img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.detail_text {
  /* position: absolute; */
  font-family: "Cabin", sans-serif;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  padding-left: 3rem;
  width: 50%;
  z-index: 99;
}

.detail_text h1 {
  font-size: 5rem;
  padding-bottom: 1rem;
}

.detail_text p {
  font-size: 1.3rem;
  padding-bottom: 3rem;
}

.detail_text h3 {
  font-size: 1.2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
}

.genre {
  display: block;
  margin-right: 0.5rem;
}

.start_icon {
  color: rgb(255, 17, 0);
  padding-right: 0.3rem;
  font-size: 1.5rem;
}

.yt_det {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  background-color: red;
  border-radius: 25px;
  flex-direction: row;
  cursor: pointer;
}

.yt_det:hover {
  box-shadow: 5px 5px 10px rgba(255, 3, 3, 0.589);
}

.yt_det span {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
  font-size: 0.9rem;
}

.icon_play {
  color: white;
  font-size: 1.5rem;
}

.video {
  /* position: absolute; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 3, 3, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all 0.5s ease;
  /* transform: translate(-50%, 50%); */
}
.video .close {
  content: "X";
  position: absolute;
  top: 25px;
  right: 40px;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.1s linear;
}
.video .close:hover {
  color: white;
  transform: scale(1.3);
}

.video.open {
  visibility: visible;
  opacity: 1;
}

/* .cast {
  height: 100vh;
} */

.Cast_Text {
  padding: 5rem 3rem 3rem;
  font-family: "Cabin", sans-serif;
  text-shadow: 1px 2px 10px rgb(182, 173, 173);
  /* z-index: 999999; */
}

.cast_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 3rem 3rem;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cast_menu {
  padding: 0.6rem;
  border: 3px solid rgba(176, 37, 37, 0.4);
  border-radius: 10px;
  /* padding: 5px; */
  transition: all 0.2s linear;
  cursor: pointer;
}

.cast_menu:hover {
  box-shadow: 2px 3px 7px rgba(255, 3, 3, 0.589);
}

.img_cast {
  display: flex;
  justify-content: center;
}

.img_cast img {
  width: 15rem;
}

.cast_text {
  padding: 0.3rem 0;
  font-family: "Cabin", sans-serif;
}

.cast_text h2 {
  font-size: 15px;
  text-align: center;
}

.cast_text h3 {
  font-size: 12px;
  text-align: center;
}

div.swiper {
  height: 100%;
  padding: 1rem 2rem 2.5rem 2.5rem;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
