@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.navbar_wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 999;
}

.navbar {
  font-family: 'Cabin', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3rem 3rem;
  background-color: rgba(255, 255, 255, 0.254);
  align-items: center;
}

.Navbar_Title {
  text-decoration: none;
  font-size: 2em;
  font-family: 'Audiowide', cursive;
  color: rgb(182, 24, 24);
  transition: all 0.2s linear;
  text-shadow: 4px 2px 5px rgb(0, 0, 0);
  transition: all 0.2s linear;
}

.Navbar_Title:hover {
  text-shadow: 2px 3px 7px rgba(255, 3, 3, 0.589);
}

.Navbar_search {
  width: 30%;
  border: 3px solid;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(182, 24, 24);
  border-radius: 20px;
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.2s linear;
}

.Navbar_search:hover {
  box-shadow: 5px 5px 10px rgba(255, 3, 3, 0.589);
}

form.search_btn {
  display: flex;
  flex-direction: row;
  padding: 0.3rem 1rem;
}

.search_btn input.cari {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  width: 22rem;
  font-size: 0.9rem;
  font-family: 'Cabin', sans-serif;
}

input:focus {
  outline: none;
  border: none;
}

input.cari {
  margin: 0;
}

.search_btn button {
  font-size: 1.3rem;
  padding-top: 0.3rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.navbar_icon {
  color: rgb(190, 29, 29);
  font-weight: bolde;
}

.navbar_bottom {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

button.login {
  height: 40px;
  color: rgb(182, 24, 24);
  border: solid rgb(182, 24, 24);
  background-color: transparent;
  padding: 0 30px;
  font-weight: bolder;
  border-radius: 20px;
  margin-right: 20px;
  transition: all 0.2s linear;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.login:hover {
  background-color: rgb(182, 24, 24);
  color: white;
  box-shadow: 5px 5px 10px rgba(255, 3, 3, 0.589);
}

button.register {
  height: 40px;
  background-color: rgb(182, 24, 24);
  color: white;
  border: solid rgb(182, 24, 24);
  font-weight: bolder;
  cursor: pointer;
  padding: 0 30px;
  border-radius: 20px;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
}
.register:hover {
  background-color: rgba(182, 24, 24, 0.284);
  color: white;
  box-shadow: 3px 3px 10px rgba(255, 3, 3, 0.589);
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin: 0 1rem;
}

.name {
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(182, 24, 24);
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.596);
  transition: all 0.2s linear;
}
.name:hover {
  text-shadow: 2px 3px 7px rgba(255, 3, 3, 0.589);
}
