@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

.footer_wrap {
  margin: 0;
  pad: 0;
  height: 2rem;
  background-color: #e8dce1b3;
}

.footer_item {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer_item h1 {
  margin-top: 0.3rem;
  font-family: "Ms Madi", cursive;
  color: rgb(183, 37, 219);
  font-size: 1.1rem;
  padding: 0 0.3rem;
}

.footer_icon {
  position: relative;
  /* top: 1rem; */
}
