@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap");

.listAll_img img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 780px; */
  height: 35vh;
  object-fit: cover;
}

.All_text {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 65px 0 40px 0;
  font-family: "Cabin", sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 6px 15px 5px rgb(0, 0, 0);
  z-index: 9;
  position: absolute;
  top: 10%;
}

.Popular_item_wrap_all {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 2.5rem;
  /* width: 20px; */
}

.div {
  width: 100%;
  font-family: "Cabin", sans-serif;
  /* justify-content: center; */
  /* padding: 7px; */
  /* position: absolute; */
}

img.poster_all {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 10rem; */
  /* height: 1rem; */
}

.Popular_menu_all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: 4px solid rgba(176, 37, 37, 0.4);
  text-decoration: none;
  color: black;
  background: #eee;
  transition: all 0.2s linear;
  overflow: hidden;
  height: 24rem;
  width: 15rem;
}

.Popular_menu_all:hover {
  box-shadow: 2px 3px 7px rgba(255, 3, 3, 0.589);
}

.Popular_menu_all div {
  width: 100%;
  font-family: "Cabin", sans-serif;
  cursor: pointer;

  /* padding: 7px; */
  /* position: absolute; */
}

.dec {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  transform: translateY(100%);
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(176, 37, 37, 0.8), transparent);
  transition: all 0.3s ease;
}
.dec h4 {
  margin-bottom: 2em;
}

.Popular_menu_all:hover > .dec {
  transform: translateY(0%);
}
.Popular_menu_all img.poster_all {
  position: absolute;
  display: flex;
  width: 15rem;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  /* object-fit: cover; */
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Popular_menu_all h3 {
  font-size: 15px;
  text-align: center;
}

.Popular_menu_all h4 {
  font-size: 12px;
  text-align: center;
}
