.dec {
  transform: translateY(100%);
  background: linear-gradient(to top, rgba(176, 37, 37, 0.8), transparent);
}

.Popular_menu_all:hover > .dec {
  transform: translateY(0%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
