* {
  margin: 0;
  padding: 0;
}

.Popular_item {
  padding: 1rem 2rem 2.5rem 2.5rem;
}

.dec {
  transform: translateY(100%);
  background: linear-gradient(to top, rgba(176, 37, 37, 0.8), transparent);
}

.Popular_menu:hover > .dec {
  transform: translateY(0%);
}
.Popular_menu img.poster {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.CateBtn_Wrap {
  padding: 0 2rem 2rem 3rem;
}

div.swiper {
  height: 100%;
  padding: 1rem 2rem 2.5rem 2.5rem;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
