@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.HomePage {
  width: 100%;
  height: 100vh;
}

.HomaPage_img img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

div.HomePage_Text {
  font-family: 'Cabin', sans-serif;
  z-index: 999;
  padding-left: 3rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.HomePage_Text h1 {
  font-size: 70px;
  position: absolute;
  width: 47%;
  top: 30%;
}

.HomePage_Text p {
  position: absolute;
  width: 47%;
  top: 65%;
}

.yt {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  top: 75%;
  background-color: red;
  border-radius: 25px;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.2s linear;
}

.yt:hover {
  box-shadow: 5px 5px 10px rgba(255, 3, 3, 0.589);
}

.yt a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}

.icon_play_home {
  font-size: 1.5rem;
}

.popular_wrap {
  width: 100%;
}

.popular_text {
  font-family: 'Cabin', sans-serif;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  text-shadow: 1px 2px 10px rgb(182, 173, 173);
}

.All_Movie {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-items: center;
}

.All_Movie h2 {
  display: flex;
  justify-items: center;
  font-family: 'Cabin', sans-serif;
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}

.All_Movie h2:hover {
  text-shadow: 1px 1px 10px rgba(255, 0, 0, 0.836);
}

.Arrow_icon {
  font-size: 1.7rem;
  margin-left: 0.5rem;
}

.Popular_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem 2.5rem 2.5rem;
}

.Popular_menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: 4px solid rgba(176, 37, 37, 0.4);
  text-decoration: none;
  color: black;
  background: #eee;
  transition: all 0.2s linear;
  overflow: hidden;
  height: 27rem;
  width: 28rem;
}

.Popular_menu:hover {
  box-shadow: 2px 3px 7px rgba(255, 3, 3, 0.589);
}

.Popular_menu div {
  width: 100%;
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
}

.dec {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  transform: translateY(100%);
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to top, rgba(176, 37, 37, 0.8), transparent);
  transition: all 0.3s ease;
}
.dec h4 {
  margin-bottom: 2em;
}

.Popular_menu:hover > .dec {
  transform: translateY(0%);
}
.Popular_menu img.poster {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Popular_menu h3 {
  font-size: 15px;
  text-align: center;
}

.Popular_menu h4 {
  font-size: 12px;
  text-align: center;
}

div.CateBtn_Wrap {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 2rem 3rem;
}
.cate_btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.cate_btn button {
  width: 8.3rem;
  font-family: 'Cabin', sans-serif;
  font-size: 0.9rem;
  border: solid rgb(182, 24, 24);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
  text-shadow: 1px 2px 10px rgb(182, 173, 173);
}

.cate_btn button:hover {
  background-color: rgb(182, 24, 24);
  color: white;
  box-shadow: 5px 5px 10px rgba(255, 3, 3, 0.589);
}

div.swiper {
  height: 100%;
  padding: 1rem 2rem 2.5rem 2.5rem;
  margin: 0;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
